.app-name {
  font-weight: 700;
  font-size: 40px;
  color: rgb(136, 156, 235);
  text-align: center;
  margin: 10px;
  margin-bottom: 20px;
}

input {
  width: 100%;
}

.items-container {
  text-align: left;
}

.kg-row {
  margin: 10px;
}

.kg-button {
  width: 100px;
}
